@charset "UTF-8";
/*------------------------------------Contacto------------------------------------>*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap");
.padre_contacto {
  background-color: bisque; }

ul {
  list-style: none;
  padding: 0; }

.titulo__contacto {
  text-align: center;
  font-size: 2.5em;
  color: #531b1b; }

.titulo__contacto span {
  color: #660166; }

.formulario__contacto__conjunto {
  box-shadow: 0 0 20px 0 rgba(22, 22, 22, 0.9);
  background: #574a64; }

.formulario__contacto__conjunto > * {
  padding: 1em;
  font-family: 'Montagu Slab', serif;
  line-height: 1.6; }

.formulario__contacto form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.formulario__contacto form p {
  margin: 1;
  padding: 1em; }

.formulario__contacto form p label {
  display: block; }

.formulario__contacto form .bloque_check,
.bloque_texto {
  grid-column: 1 / 3; }

.formulario__contacto form .bloque_check {
  display: flex;
  align-items: center; }

.formulario__contacto form select,
input,
textarea {
  width: 100%;
  padding: .5em;
  border: none;
  background: none;
  outline: none;
  border: 1px solid coral; }

.formulario__contacto form .enviar:hover, .formulario__contacto form .enviar:focus,
.limpiar:hover,
.limpiar:focus {
  background-color: coral;
  color: #cc0c0c;
  transition: background-color .5s ease-in; }

/*LAS VARIABLES NOS VAN A PERMITIR ESTANDARIZAR LOS COLORES Y TAMAÑOS*/
:root {
  /* Colors */
  --primary: #8b4cbe;
  --secondary: #eb82e2;
  --alternative: #302F4d;
  --text-color: #2b2b2b;
  /* Spacing */
  --Sapcing-large: 6rem;
  --Sapcing-medium: 2.4rem;
  --Sapcing-small: 2rem;
  --Sapcing-xsmall: 1rem;
  /* Font Family */
  --font-principal: 'Barlow', sans-serif;
  --font-title: 'Roboto-Slab', serif;
  /* Font Sizes */
  --text-large: 4.2rem;
  --text-medium: 2.2rem;
  --text-base: 1.6rem;
  --text-small: 1.4rem; }

/* Normalize */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: var(--font-principal);
  background-color: var(--primary); }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: var(--font-title);
  color: var(--text-color); }

img {
  width: 100%; }

/*------------------------------------Banner------------------------------------>*/
.banner {
  background-image: url(../imagenes/baner.jpg);
  width: 100%;
  height: 25vh; }

.banner img {
  width: 17%;
  height: 100%; }

/*------------------------------------NAV------------------------------------>*/
.navbar {
  font-size: var(--text-medium); }

/* .navbar-brand{
  font-size: var(--text-medium);
  margin-right: var(--Sapcing-large);
} */
.nav-link {
  color: #e892f3;
  margin-right: var(--Sapcing-xsmall); }

.dropdown-menu {
  font-size: var(--text-base); }

.nav-item {
  border: 2px solid #F8F9FB;
  transition: all 0.3seg; }

.nav-item:hover {
  border-color: var(--secondary); }

/*------------------------------------Main------------------------------------>*/
.conteiner {
  max-width: 90%;
  margin: 0 auto;
  margin-top: var(--Sapcing-small); }

/*------------------------------------Formulario index------------------------------------>*/
.cuerpoformulario {
  color: #e892f3;
  font-weight: 900;
  font-size: var(--text-medium);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--Sapcing-xsmall);
  border: 4px solid var(--alternative);
  padding: 1rem; }

.opcionesformulario {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: var(--Sapcing-xsmall); }

.tituloformulario {
  font-size: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #ffffff; }

/*------------------------------------Carrusel index------------------------------------>*/
.carrusel {
  margin-bottom: var(--Sapcing-medium); }

.textoimagenes {
  font-size: var(--text-medium);
  font-weight: 600;
  text-align: left;
  color: #020202; }

.textoimagenesbco {
  font-size: var(--text-large);
  color: #2cff01; }

.titulocarrusel {
  font-size: 100%;
  font-style: var(--font-title);
  color: #f1afe9;
  font-weight: 900; }

/*------------------------------------Footer------------------------------------>*/
.contenedorfooter {
  background-color: black;
  padding: 2rem; }

.footer {
  width: 90%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: var(--text-medium);
  align-items: center; }

.columnafooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.columnafooter h2 {
  margin-bottom: 3rem;
  font-size: var(--text-medium); }

.columnafooter a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: var(--text-base); }

.columnafooter a:hover {
  color: #e7b9b9;
  transition: 0.3 ease-out; }

/*------------------------------------Formulario contacto------------------------------------>*/
.fondoformulario {
  background-color: #482a69;
  color: beige; }

.teolvidastealgo {
  text-decoration: 0;
  background-color: black;
  color: white;
  padding: 0.2rem;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*------------------------------------carrusel staff------------------------------------>*/
@media (min-width: 768px) {
  .galeriastaff {
    margin-top: 2%;
    margin-left: 35%;
    width: 60vh;
    height: 60vh; } }

/* adsadasdasdasd */
