@import "variables";

:root {
  /* Colors */
  --primary: #120d31;
  --secondary: #ff5376;
  --alternative: #302F4d;
  --text-color: #2b2b2b;
  /* Spacing */
  --Sapcing-large: 6rem;
  --Sapcing-medium: 2.4rem;
  --Sapcing-small: 2rem;
  --Sapcing-xsmall: 1rem;
  /* Font Family */
  --font-principal: 'Barlow', sans-serif;
  --font-title: 'Roboto-Slab', serif;
  /* Font Sizes */
  --text-large: 5.2rem;
  --text-medium: 2.2rem;
  --text-base: 1.6rem;
  --text-small: 1.4rem;
}

*::after,
*::before,

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
font-size: 62.5%;
}


body{
  font-family: var(--font-principal);
}

ul {
  list-style-type: none;
}

a {
text-decoration: none;
font-family: var(--font-title);
color: var(--text-color);
}
img {
  width: 100%;
}

/*------------------------------------Formulario index------------------------------------>*/

.cuerpoformulario {
  color: rgb(232, 146, 243);
  background-size: contain;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  display: grid;
}

.cuerpoformulario img {
  width: 100%;
}

.opcionesformulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--Sapcing-medium);
}

.tituloformulario {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 1rem;
  color: #ffffff;
}

.banner {
  background-image: url(../imagenes/baner\ 1.jpg);
  width: 100%;
  height: 25vh;
}

.banner img {
  width: 17%;
  height: 100%;
}

.textoimagenes {
  font-size: 3rem;
  text-align: left;
  color: #020202;
}

.textoimagenesbco {
  font-size: 4.5rem;
  color: #ffffff;
}

main section h2 {
  font-size: 6rem;
}

.titulocarrusel {
  font-size: 5rem;
  font-style: oblique;
  color: #f1afe9;
}


/*------------------------------------Footer------------------------------------>*/
.contenedorfooter {
  background-color: black;
  padding-bottom: 4rem;
}

.footer {
  width: 80%;
  height: 40vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: larger;
}

.columnafooter {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.columnafooter h2 {
  margin-bottom: 2rem;
}

.columnafooter a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.columnafooter a:hover {
  color: rgb(231, 185, 185);
  transition: 0.3 ease-out;
}

/*------------------------------------Formulario------------------------------------>*/
.fondoformulario {
  background-color: rgb(72, 42, 105);
  color: beige;
}

.teolvidastealgo {
  text-decoration: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.1rem;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.galeriastaff {
  margin-left: 30%;
  width: 60vh;
  height: 60vh;
}