@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Slab:wght@300;500&display=swap');

/* Normalize */

:root {
  /* Colors */
  --primary: #8b4cbe;
  --secondary: #eb82e2;
  --alternative: #302F4d;
  --text-color: #2b2b2b;
  /* Spacing */
  --Sapcing-large: 6rem;
  --Sapcing-medium: 2.4rem;
  --Sapcing-small: 2rem;
  --Sapcing-xsmall: 1rem;
  /* Font Family */
  --font-principal: 'Barlow', sans-serif;
  --font-title: 'Roboto-Slab', serif;
  /* Font Sizes */
  --text-large: 4.2rem;
  --text-medium: 2.2rem;
  --text-base: 1.6rem;
  --text-small: 1.4rem;
}

*::after,
*::before,

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-principal);
  background-color: var(--primary);
}

ul {
  list-style-type: none;
}

a {
text-decoration: none;
font-family: var(--font-title);
color: var(--text-color);
}

img {
  width: 100%;
}

/*------------------------------------Banner------------------------------------>*/

.banner {
  background-image: url(../imagenes/baner\ 1.jpg);
  width: 100%;
  height: 25vh;
}

.banner img {
  width: 17%;
  height: 100%;
}
/*------------------------------------NAV------------------------------------>*/
.navbar {
font-size: var(--text-medium);
}

.navbar-brand{
  font-size: var(--text-medium);
  margin-right: var(--Sapcing-large);
}

.nav-link {
  color: rgb(232, 146, 243);
  margin-right: var(--Sapcing-xsmall);
}

.dropdown-menu{
  font-size: var(--text-base);
}

.nav-item{
  border: 2px solid #F8F9FB;
  transition: all 0.3seg;
}

.nav-item:hover {
  border-color: var(--secondary);
}
/*------------------------------------Main------------------------------------>*/
.conteiner{
  max-width: 90%;
  margin: 0 auto;
  margin-top: var(--Sapcing-small);
}
/*------------------------------------Formulario index------------------------------------>*/

.cuerpoformulario {
  color: rgb(232, 146, 243);
  font-weight: 900;
  font-size: var(--text-medium);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--Sapcing-xsmall);
  border: 4px solid var(--alternative);
  padding: 1rem;

}

.opcionesformulario {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: var(--Sapcing-xsmall);
}

.tituloformulario {
  font-size: var(--text-large);
  text-align: center;
  margin-top: 1rem;
  color: #ffffff;
}
/*------------------------------------Formulario index------------------------------------>*/

.carrusel{
  margin-bottom: var(--Sapcing-medium);
}
.textoimagenes {
  font-size: var(--text-medium);
  font-weight: 600;
  text-align: left;
  color: #020202;
}

.textoimagenesbco {
  font-size: var(--text-large);
  color: #2cff01;
}

.titulocarrusel {
  font-size: 8rem;
  font-style: var(--font-title);
  color: #f1afe9;
  font-weight: 900;
}


/*------------------------------------Footer------------------------------------>*/
.contenedorfooter {
  background-color: black;
  padding: 2rem;
}

.footer {
  width: 90%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin:0 auto;
  font-size: var(--text-medium);
  align-items: center;
}

.columnafooter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.columnafooter h2 {
  margin-bottom: 3rem;
  font-size: var(--text-medium);
}

.columnafooter a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: var(--text-base);
}

.columnafooter a:hover {
  color: rgb(231, 185, 185);
  transition: 0.3 ease-out;
}

/*------------------------------------Formulario------------------------------------>*/
.fondoformulario {
  background-color: rgb(72, 42, 105);
  color: beige;
}

.teolvidastealgo {
  text-decoration: 0;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.1rem;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.galeriastaff {
  margin-top: 2%;
  margin-left: 35%;
  width: 60vh;
  height: 60vh;
}