$img-productos:(
    zapatos_clasica: url('../imagenes/zapatoclasica.JPG'),
    zapatos_tap: url('../imagenes/zapatotap.JPG'),
    meta_tarsiana: url('../imagenes/metatarsiana.JPG'),
    remera_clasica: url('../imagenes/remeraclasica.JPG'),
);

@each $name, $url in $img-productos {
    .img_#{$name} {
        @extend .background-centrado;
        @extend .background-size;
        background-image: #{$url};
    }
}
main{
    display: flex;
    justify-content: space-around;
}

.cardp {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 320px;
    background-color: rgb(255, 228, 196);
    border: 2px solid black;
    text-align: center;
}
.background-size{
    width: 190px;
    height: 150px;
}
.background-centrado{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
