/*------------------------------------carrusel staff------------------------------------>*/

@media (min-width: 768px) {
    .galeriastaff {
      margin-top: 2%;
      margin-left: 35%;
      width: 60vh;
      height: 60vh;} 
      }
